body,header,nav,ul,h1,h2 {
  padding: 0;
  margin: 0 auto;
}

body {
  width: 1000px;
  font-family: Arial, sans serif;
  font-size: 15px;
  color: #5A5A5A;;
}

li {
  display: inline-block;
}

.bbc-links li {
  font-size: 13px;
  font-weight: bold;
  padding: 1%;
  border-left: 1px #CCC solid;
}

.news-heading {
  background-color: #BB1919;
  font-family: Gill Sans;
  font-weight: 300;
  font-size: 44px;
  color: #FFF;
  text-transform: uppercase;
  padding: .5%;
}

.news-links-container {
  height: 40px;
  background-color: #A91717;
  color: #FFF;
}

.news-links li {
  border-right: 1px #BB4545 solid;
  padding: 1%;
}

.section-info {
  position: relative;
  float: left;
  width: 70%;
  border-right: 1px #DBDBDB solid;
}

.featured-story {
  padding-top: 3%;
}

.featured-heading {
  font-size: 32px;
}

.featured-text {
  width: 35%;
  float: left;
}

.featured-time {
  font-size: 13px;
  margin-top: 2%;
}

.location {
  color: #BB1919;
}

.featured-photo {
  width: 60%;
  float: right;
  margin-top: 2%;
  margin-right:3%;
}

.featured-links-container {
  position: relative;
  height: 150px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.featured-links li {
  display: block;
  float: left;
  color: black;
}

.secondary-links-container {
  display: block;
  clear: both;
  padding-top: 3%;
  border-top: 1px #CCC solid;
  margin-top: 5%;
}

.boy {
  width: 20px;
  height: 20px;
}

.sidebar-info {
  font-family: Arial;
  color: #404040;
  font-weight: 100;
}

.sidebar-links-container {
  position: relative;
  width: 20%;
  float: right;
  padding: 0 2%;
}

.sidebar-link-title {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.sidebar-links li {
  display: block;
}
