body,header,nav,ul,h1,h2 {
  padding: 0;
  margin: 0 auto;
}

body {
  max-width: 1000px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #5A5A5A;
}

li {
  display: inline-block;
}

a:link {
  text-decoration: none;
}

.bbc-links li {
  font-size: 13px;
  font-weight: bold;
  padding: 1%;
  border-left: 1px #CCC solid;
  color: #5A5A5A;
}

.bbc-logo {
  width: 80px;
  height: 25px;
}

.news-header {
  margin-left: -100px;
  margin-right: -100px;
}

.news-heading {
  background-color: #BB1919;
  font-family: Gill Sans;
  font-weight: 300;
  font-size: 44px;
  color: #FFF;
  text-transform: uppercase;
  padding-left: 8.5%;
}

.news-links-container {
  height: 40px;
  background-color: #A91717;
  color: #FFF;
  padding-left: 7.5%;
}

.news-links li {
  border-right: 1px #BB4545 solid;
  padding: 1%;
  color: #FFF;
}

.section-info {
  position: relative;
  float: left;
  width: 70%;
  border-right: 1px #DBDBDB solid;
}

.featured-story {
  padding-top: 3%;
}

.featured-heading {
  font-size: 32px;
  color: black;
}

.featured-text {
  width: 35%;
  float: left;
}

.featured-time {
  font-size: 13px;
  margin-top: 2%;
}

.location {
  color: #BB1919;
}

.featured-photo {
  width: 60%;
  float: right;
  margin-top: 2%;
  margin-right:3%;
  margin-bottom: 4%;
}

.featured-links-container {
  position: relative;
  height: 150px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.featured-links li {
  display: block;
  float: left;
  color: black;
}

.secondary-links-container {
  display: block;
  clear: both;
  padding-top: 3%;
  border-top: 1px #CCC solid;
  margin-top: 5%;
  font-size: 14px;
}

.secondary-photos {
  width: 150px;
  height: 75px;
  display: block;
}

.section-info a:visited, .sidebar a:visited {
  color: #5A5A5A;
  text-decoration: none;
}

.sidebar {
  padding-top: 2.5%;
}

.sidebar-info {
  font-family: Arial;
  color: #404040;
  font-weight: 100;
  float: right;
  padding-right: 8%;
}

.sidebar-links-container {
  position: relative;
  width: 20%;
  float: right;
  padding: 0 2%;
}

.sidebar-link-title {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.sidebar-links li {
  display: block;
}

footer {
  clear: both;
}
